@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');

body, html {
    margin: 0;
    padding: 0;
    
    font-family: 'Gabarito', sans-serif;
    background-color: #f7f7f7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #1f1f1f;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0rem 25rem;.
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #4a4a4a;
}

.contact-btn {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: white;
    background-color: #12bcff;
    font-weight: bold;
}

#book-sec {
    position: absolute;
    top: 800px;
    left: 850px;
}

#book-sec h2 {
    position: absolute;
    left: -130px;
    top: -70px;
    width: 30vw;
}

.hero {
    margin-top: 3rem;
}

.hero h1,.hero p{
    text-align: center;
    line-height: .9rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn 1s ease;
}

.description {
    margin: 5rem 25rem;
}

#left-desc {
    display: flex;
    flex-direction: row;
}

#left-desc h1, #left-desc p {
    max-height: 1rem;
    float: left;
}

#left-desc h1 {
    position: absolute;
    top: 300px;
    left: 650px;
}

#left-desc p {
    position: absolute;
    top: 350px;
    left: 650px;
}


#right-desc h1, #right-desc p {
    max-height: 1rem;
    float: left;
}

#right-desc h1 {
    position: absolute;
    top: 500px;
    right: 650px;
}

#right-desc p {
    position: absolute;
    top: 550px;
    right: 650px;
}

#right-desc img {
        position: absolute;
    top: 450px;
    right: 400px;
}

